.profile {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.profile__form {
    width: 340px;
}

.profile__avatar{
    img {
        display: block;
        margin-bottom: 1.5rem;
    }
}

.profile__file {
    font-size: 1.4rem;
    color: $blue;
    text-decoration: underline;

    cursor: pointer;

    input {
        display: none;
    }
}